<div class="flex h-full justify-between items-center">
  <div class="flex flex-row items-center mx-8">
    <mat-icon color="primary" class="mt-1">message</mat-icon>
    <div class="mx-8 text-foreground text-2xl">Messaging</div>
  </div>
  <div class="header-actions flex mx-8 space-x-8 items-center">
    <div class="flex bg-card-neutral backdrop-blur-md items-center px-4 py-2 rounded-lg">
      <input class="bg-incolor border-0 text-foreground" placeholder="Search">
      <mat-icon class="text-foreground">search</mat-icon>
    </div>
    <mat-icon class="text-foreground">notifications_none</mat-icon>
    <img src="../../../../../assets/images/Costel.jpg" alt="Costel" height="30" width="30" class="rounded-full">
  </div>
</div>
